@model IEnumerable<TraversalCoreProject.Areas.Admin.Models.BookingHotelSearchViewModel2>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    double score;
}

<h1>Booking Otel Rezervasyon Sayfası</h1>

<h3>Arama Yapılan Şehir: Paris/Fransa</h3>


<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Otel Adı</th>
        <th>Otel Puanı</th>
        <th>Otel Değerlendirmesi</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.HotelName</td>
            <td>@(item.ReviewScore)</td>
            <td>
                @{
                    if (item.ReviewScoreWord == "Very good")
                    {
                        <text>Çok İyi</text>
                        ;
                    }
                    else if (item.ReviewScoreWord == "Good")
                    {
                        <text>İyi</text>
                        ;
                    }
                    else if (item.ReviewScoreWord == "Fabulous")
                    {
                        <text>Harika</text>
                        ;
                    }
                    else
                    {
                        <text>@item.ReviewScoreWord</text>
                        ;
                    }
                }
            </td>
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }

</table>